<div class="card">
    <form #grid="ngForm" (ngSubmit)="submitForm(grid , 'Edited Successfully','Done','1000')">
      <div class="row ">
        <div class="col-md-5 ">
          <div class="row">
            <div class="col-12">
                        <!-- calender -->
              <mat-card class="demo-inline-calendar-card">
                <mat-calendar
                  [(selected)]="selected"
                  (click)="calenderPlan(selected)"
                  name="date"   ngDefaultControl [(ngModel)]="data.shiftStartTime"
                ></mat-calendar>
              </mat-card>
        
             </div>
            
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-md-5  ">
          <div class="row">
            <div class="col-12 d-flex py-2">
              <!-- get location -->
            <mat-form-field class="w-100" [appearance]="'outline'">
              <mat-label>Location</mat-label>
              <mat-select  [(ngModel)]="data.factory" name="location" (click)="hideOption1Location()" >
                <mat-option  class="d-none" [value]="data.location" *ngIf="hideOpt">
                  {{data.location}}
                </mat-option>   
        
                <mat-option
                  *ngFor="let elem of location"
                  [value]="elem.name"
                  (click)="selectLocation(elem.name , elem.id , elem.location)"
                >
                  {{ elem.location }}-
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
            <div class="col-12 d-flex py-2">
               <!-- get all lines -->
            <mat-form-field class="w-100" [appearance]="'outline'">
              <mat-label>All Lines</mat-label>
              <mat-select [disabled]="openLines_Shift" [(ngModel)]="data.lineName" name="line" (click)="hideOption2Line()">
                <mat-option  class="d-none" value="{{data.lineName}}" *ngIf="hideOpt2">
                  {{data.lineName}}
                  </mat-option>   

                <mat-option
                  *ngFor="let elem of allLines"
                  [value]="elem.name"
                  (click)="selectLineId(elem.id , elem.lineNum , elem.name)"
                >
                  {{ elem.name }}
                </mat-option>
              </mat-select>
        
            </mat-form-field>
         

            </div>
     
        
            <div class="col-12 d-flex py-2">
              <!-- machine -->
            <mat-form-field class="w-100" [appearance]="'outline'">
              <mat-label>Machine</mat-label>
              <mat-select  [disabled]="openMachine" [(ngModel)]="data.machineName" name="machineName" (click)="hideOption3Machine()" >
                <mat-option  class="d-none" value="{{data.machineName}}" *ngIf="hideOpt3">
                  {{data.machineName}}
                  </mat-option>

                <mat-option  class="d-none" value="{{data.machineName}}" *ngIf="hideOpt3">
                  {{data.machineName}}
                </mat-option>  

                <mat-option *ngFor="let machine of allMachines" (click)="machineName(machine.plcName , machine.machineName)"  [value]="machine.machineName">
                 {{machine.machineName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
            <div class="col-12 d-flex py-2">
              <!-- product -->
              <mat-form-field class="w-100" [appearance]="'outline'">
                <mat-label>Product</mat-label>
                <mat-select  [disabled]="openMachine"  [(ngModel)]="data.sku" name="machine" (click)="hideOption6Product()">
                  
                  <mat-option  class="d-none" value="{{data.sku}}" *ngIf="hideOpt6">
                    {{data.sku}}
                  </mat-option>  
                  <mat-option
                    *ngFor="let sku of skuArr"
                    [value]="sku.technicalSKU"
                   (click)="techSKU(sku.technicalSKU , sku.skuid)"
                  >
                    {{ sku.productName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 d-flex py-2">
              <mat-form-field class="w-100" [appearance]="'outline'">
                <mat-label>Shifts</mat-label>
                <mat-select [disabled]="openLines_Shift"  [(ngModel)]="data.shiftNum" name="Shift" (click)="hideOption5Shift()">
                  <!-- shiftNum -->
                  <mat-option  class="d-none" [value]="data.shiftNum" *ngIf="hideOpt5">
                    {{data.shiftNum}}
                  </mat-option>

                 
                  <mat-option
                    *ngFor="let elem of allShifts"
                  (click)="selectShift(elem.shiftNum , elem.shiftStartTime)"  [value]="elem.shiftNum">
                    {{ elem.shiftNum }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 d-flex py-2">
              <mat-form-field class="example-full-width">
                <mat-label>Target</mat-label>
                <input matInput type="number"  name="target" [(ngModel)]="data.target">
              </mat-form-field>
            </div>
            <div class="col-12 d-flex py-2">
              <button class="btn btn-primary w-100" [disabled]="data.lineName == null">Submit</button>
            </div>
          </div>
     
          
        </div>
    
        <!--  -->
    
        
      </div>
    </form>
    
  </div>