@keyframes growProgressBar {
    0%,
    33% {
        --pgPercentage: 0;
    }
    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: "<number>";
    inherits: false;
    initial-value: 5;
    
}

div[role="progressbar"] {
    --size: 8rem;
    --fg: #e61d2b;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
}

div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
}
.borderBottom {
    border-bottom: solid 1px;
}


.progressbar-circle{
    min-width:260px;
    min-height:260px;
}

.status-green{
    font-size: 40px;
    color: hsl(120, 100%, 60%);
   margin-right: 10px;
}

.status-gray{
    font-size: 40px;
    color: hsl(0, 0%, 78%);
   margin-right: 10px;
}
.online{
   
    color: hsl(120, 100%, 60%);
   margin-right: 10px;
}

.offline{
   
    color: hsl(0, 0%, 78%);
   margin-right: 10px;
}

@media screen and (max-width: 992px) {
}
#kpiDiv {
    font-size: 17px;
}

::ng-deep mat-icon {
    margin-top: 2px;
}

.card-title {
    margin-top: 6px;
}

hr {
    padding: 0px;
    height: 0px;
    margin-top: 9px;
    background-color: rgb(235, 223, 223);
}




